/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.float-btn {
    z-index: 1;
    position: fixed !important;
    bottom: 70px;
    right: 50px;
  }

.success{
    background-color:#73c366;
    color: #fff;
  }
  .failure{
    background-color:#d0021b;
    color: #fff;
  }